<configuration><configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XeroPresence.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <XeroPresence.Properties.Settings>
            <setting name="accesskey" serializeAs="String">
                <value />
            </setting>
            <setting name="accesskeysecret" serializeAs="String">
                <value />
            </setting>
            <setting name="windows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tray" serializeAs="String">
                <value>False</value>
            </setting>
        </XeroPresence.Properties.Settings>
    </userSettings>
               </configuration>